@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    margin: none;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.lists{
    margin-top: -150px;
    overflow-x: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 80px;
}

.linksRede a {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: red;
}

.linksRede {
    margin-top: 20px;
}


.loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

